button{
    align-self: self-end;
}
#aviso{
    text-align: center;
}
.card-padrao{
    height: 405px;

    
}
.card-input{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    
    &:hover{
        transform: none !important;
    }
}
.section-padrao{
    margin-top: 30px;
}

mat-card form {
    margin-top: 40px;
}