.card-padrao{
 margin-top: 10px;
 margin-bottom: 10px;
 border: 1px solid var(--primary-color);
 transition: 0.5s;
}

.card-padrao:hover{
    box-shadow: var(--border-shadow);
}

mat-card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 8px;
}