<header>
    <mat-toolbar>
        <button matButton type="button" (click)="openMenu.emit()">
            <mat-icon class="icon">menu</mat-icon>
            <p>Menu</p>
        </button>
        <span class="flex-space"></span>
        <h1 id="title" routerLink="">Movitae</h1>
        <span class="flex-space"></span>
        @if(estarLogado()){
        <mat-icon class="icon" (click)="sair()" routerLink="home">logout</mat-icon>
      } @else {
        <button matButton id="login" type="button" routerLink="/login"><mat-icon class="icon" iconPositionEnd>person</mat-icon> <p>Login</p></button>
      }  
</mat-toolbar>
</header>