$icons-size: 25px;

*{
    color: black;
}

.icon{
    cursor: pointer;
}

p{
    font-size: $icons-size - 8;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

mat-toolbar{
    display: flex;
    height: 70px;

    background-color: var(--primary-color);
}

button{
    display: flex;

    cursor: pointer;
    border: none;
    background: none;
    font-size: $icons-size;
}

#title{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: $icons-size;
    cursor: pointer;
}

.flex-space{ 
    flex: 1 1 auto;
}

@media (min-width: 760px){
    $icons-size: 30px;

    button{
        font-size: $icons-size;
        gap: 8px;
    }
    #title{
        font-size: $icons-size;
    }
    .icon{
        transform: scale(1.5);
    }
    p{
        font-size: $icons-size - 6;
    }
}

@media(min-width: 1024px){
    $icons-size: 40px;

    button{
        font-size: $icons-size;
        gap: 15px;
    }
    #title{
        font-size: $icons-size;
    }
    .icon{
        transform: scale(2.0);
    }
    p{
        font-size: $icons-size - 4;
    }
}

