<header>
<mat-toolbar>
    <button matButton type="button" (click)="openMenu.emit()">
        <mat-icon class="icon">menu</mat-icon> <p>Menu</p>
    </button>
    <span class="flex-space"></span>
    <h1 id="title">Movitae</h1>
    <span class="flex-space"></span>
    @if(estarLogado()){
        <span>{{usuario()?.email}}</span>
        <button mat-button (click)="sair()">Logout</button>
      } @else {
        <button matButton id="login" type="button" routerLink="/login" [matMenuTriggerFor]="menu"><mat-icon class="icon" iconPositionEnd>person</mat-icon> <p>Login</p></button>
      }
</mat-toolbar>
</header>

<mat-menu #menu="matMenu" xPosition=before>
    teste
</mat-menu>







